body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #ddffff;
}

table {
    width: 80%;
}

td, th {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
