{% extends "layout.html" %}
{% block content %}

<h2>Tee uusi pakka</h2>

<form action="/add" method="post">

<p>Pakan nimi:<br>
<input type="text" name="name" minlength="1" maxlength="20"></p>

<p>Sanaparit:<br>
<textarea name="words" rows="8" cols="40" maxlength="10000">
apina;monkey
banaani;banana
cembalo;harpsichord
</textarea></p>

<input type="submit" value="Lähetä">

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<p>
<a href="/">Palaa takaisin</a>

{% endblock %}
