{% extends "layout.html" %}
{% block content %}

<h2>Etusivu</h2>

{% if session.user_id %}
Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b>. <a href="/logout">Kirjaudu ulos</a>
{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}

<p>

Valitse pakka, jota haluat harjoitella:

<ul>
{% for deck in decks %}
<li><a href="/deck/{{ deck.id }}">{{ deck.name }}</a>
{% endfor %}
</ul>

{% if session.user_role == 2 %}
<h3>Opettajan toiminnot</h3>
<ul>
<li> <a href="/add">Tee uusi pakka</a>
</ul>
{% endif %}

{% endblock %}
